{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended", 
    "prettier/@typescript-eslint", 
    "prettier/react",
    "prettier/standard"
  ],
  "singleQuote": true
}
